.body_bg{
  background-color:#222D32;
}
html, body{
  width:100%;
  height:100%;
}
*{
  padding:0;
  margin:0;
}
a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration:none;
}
.red{
  color:#A94442;
}
.lt_aside{
  width:180px;
  height:100%;
  background: #222D32;
  position: fixed;
  left:0;
  right:0;
  z-index:999;
  transition: all 1s;
}
.lt_title{
height:50px;
line-height:50px;
background:#367FA9;
text-align:center;


}
.lt_aside.hidemenu{
 left:-180px;
}

.lt_aside .lt_title a{
      font-size:24px;
      color:#fff;
}
.lt_aside .user{
  height:180px;
  padding-top:30px;
}
.lt_aside .user img{
  display: block;
  margin:0 auto;
  border-radius:50%;
  width:80px;
  height: 80px;
}
.lt_aside .user p{
  height:40px;
  line-height:40px;
  font-size:18px;
  color:#fff;
  text-align:center;
}

.lt_aside .lt_nav ul li a{
  font-size:14px;
  color:#fff;
  height:40px;
  line-height:40px;
  display:block;
  padding-left:40px;
  border-left:3px solid transparent;

}
.lt_aside .lt_nav ul li a i{
  margin-right:4px;
}
.lt_aside .lt_nav .current{
  border-left:3px solid #006699;
  background-color:#1D1F21;
}
.lt_aside .lt_nav .nav_list{
  padding-left:18px;
}

.lt_main{
  position:fixed;
  width: 100%;
  height: 50px;
  background-color:#3C8DBC;
  left:0;
  right:0;
  transition:all 1s;
  padding-left:180px;

}
.lt_main.hidemenu{
  padding-left:0px;

}
.lt_main .topbar{
  width:100%;
 height:50px;
 background-color:#3C8DBC;
}
.lt_main .topbar .icon_menu{
  font-size:16px;
  color:#fff;
  width:50px;
  height: 50px;
  text-align:center;
  float: left;
  line-height:50px;
  

}
.lt_main .topbar .icon_logout{
  font-size:16px;
  color:#fff;
  width:50px;
  height: 50px;
  text-align:center;
  float: right;
  line-height:50px;
  
}
.lt_container{


  padding-top:20px;
  
}
.modal-backdrop.in{
  opacity:none;
}
.user-table{
  padding-left: 20px;
  padding-right: 20px;
}
.user-table table{
  table-layout:fixed;
  word-break:break-all;
}
.user-table table td,
th{
  text-align: center;
}
.user-table button{
 margin-bottom:20px;
}